<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="utf-8" />
<title>Superviseurs</title>
<div th:replace="fragments :: head"></div>
</head>
<body>
<div th:include="fragments :: navbar"></div>
	<section id="hero" class="d-flex align-items-center justify-content-center">
		<div class="col-md-6 col-xs-12 fs">
			<div class="panel panel-default" >
				<div class="panel-heading" style="text-align: center;font-size: 15px;">Modifier le superviseur</div>
				<div class="panel-body" >
					<form th:action=@{saveSuperviseur} method="post">
						<div class="form-group">
							<div class="form-group">
								<input class="form-control" th:value="${superviseur.id_super}" type="hidden" name="id_super" />
							</div>
							<div class="form-group">
								<label class="control-label">Nom : </label> <input
									class="form-control" type="text" name="nomSuper"
									th:value="${superviseur.nomSuper}" required="required"/> <span th:errors="${superviseur.nomSuper}"
									class="red"></span>
							</div>
							<div class="form-group">
								<label class="control-label">Prénom : </label> <input
									class="form-control" type="text" name="prenomSuper"
									th:value="${superviseur.prenomSuper}" required="required" /> <span
									th:errors="${superviseur.prenomSuper}" class="red"></span>
							</div>
							<div class="form-group">
								<label class="control-label">A propos : </label> <input
									class="form-control" type="text" name="aproposSuper"
									th:value="${superviseur.aproposSuper}" required="required"/> <span
									th:errors="${superviseur.aproposSuper}" class="red"></span>
							</div>

							<button class="chercherbtn" type="submit">Editer</button>
						</div>
					</form>

				</div>
				</div>

			</div>
  </section><!-- End Hero -->
		<div th:insert="fragments :: footer"></div>
</body>

</html>